.menuItem {
	display: flex;
	justify-content: flex-end;
}

.Notifications {
	border: 1px red dashed;
	padding: 1rem;
	width: 35%;
	float: right;
}

[data-notification-type="default"] {
	color: blue;
}

[data-notification-type="urgent"] {
	color: red;
}
